In [1]:
# Constants
raw_path = "../data/raw/yellow_tripdata_2020-01.csv"
EXPORT_PATH = "../data/processed/1_preprocessed_df.pkl"

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os 
import logging
import pickle

In [4]:
# dataset
df_sample = pd.read_csv(raw_path).sample(n=1000000)

C:\Users\Lenovo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
df_sample.shape

(1000000, 18)

# Nulls

In [8]:
# null values
df_sample.dropna(inplace=True)

# data types

In [11]:

# df.astype({'col1': 'int32'}).dtypes
new_types = {'VendorID':'int32',
            'tpep_pickup_datetime':'datetime64',
            'tpep_dropoff_datetime':'datetime64',
            'passenger_count':'int32',
            'RatecodeID':'int32',
            'store_and_fwd_flag':'category'
            }

In [12]:
df = df_sample.astype(new_types)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 989898 entries, 3277675 to 981927
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               989898 non-null  int32
 1   tpep_pickup_datetime   989898 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  989898 non-null  datetime64[ns]
 3   passenger_count        989898 non-null  int32
 4   trip_distance          989898 non-null  float64
 5   RatecodeID             989898 non-null  int32
 6   store_and_fwd_flag     989898 non-null  category
 7   PULocationID           989898 non-null  int64
 8   DOLocationID           989898 non-null  int64
 9   payment_type           989898 non-null  float64
 10  fare_amount            989898 non-null  float64
 11  extra                  989898 non-null  float64
 12  mta_tax                989898 non-null  float64
 13  tip_amount             989898 non-null  float64
 14  tolls_amount           989898 non-null  float64
 15  improvement_surcharge  989898 non-null  float64
 16  total_amount           989898 non-null  float64
 17  congestion_surcharge   989898 non-null  float64
dtypes: category(1), datetime64[ns](2), float64(10), int32(3), int64(2)
memory usage: 125.6 MB

In [14]:
df.sample(2)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
4402102,2,2020-01-23 08:49:58,2020-01-23 09:12:19,1,1.71,1,N,229,107,2.0,14.0,0.0,0.5,0.0,0.0,0.3,17.3,2.5
4415228,2,2020-01-23 09:28:55,2020-01-23 09:57:34,1,6.92,1,N,162,261,2.0,25.5,0.0,0.5,0.0,0.0,0.3,28.8,2.5

# export data

In [16]:
df.to_pickle(EXPORT_PATH)